/** media queries setup **/
@desktop:   ~"only screen and (min-width: 960px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone:    ~"only screen and (min-width: 1px) and (max-width: 719px)";

/** web functions **/
.border (@left: 1px, @right: 1px, @top: 1px, @bottom: 1px,@color: #000, @type: solid) {
  border-left: @left @color @type;
  border-right: @right @color @type;
  border-top: @top @color @type;
  border-bottom: @bottom @color @type;
}

/** global web variables **/
@webPadding: 1vw;
@containerWidth: 75vw;
@menuBG: #FAFAFA;
@notSelected: #CFBDAF;
@selected: #000;
.screen {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 94vh;
  @media @phone {
    width: 94vw;
    margin: 2vw;
    height: auto;
  }
}

/** buttons global colors **/
@btnColor: #000;
@btnFontColor: #fff;
@btnWidth: 10vw;

/** icons setup **/
@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot');
  src: url('./font/fontello.eot') format('embedded-opentype'),
  url('./font/fontello.ttf') format('truetype'),
  url('./font/fontello.woff') format('woff'),
  url('./font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  /** mobile icons **/
  @media @phone {
    font-size: 5vw;
    margin: 3vw;
  }
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.5vw;
  margin: 0.25vw;
}
.stopScrolling {
  max-width: 100% !important;
  overflow-x: hidden;
}
body {
  margin: 0px;
  font-family: Tahoma;
  text-align: justify;
}

figure {
  margin: 0;
}
header {
  padding: @webPadding;
  .border(0px,0px,0px,1px);
  @media @phone {
    margin-top: @webPadding*2;
    margin-bottom: @webPadding*2;
  }
  button {
    background-color: @btnColor;
    color: @btnFontColor;
    text-transform: uppercase;
    padding: @webPadding;
    width: @webPadding*10;
    .border();
    @media @phone {
      width: 15vw;
    }
  }
}
#container {
  .screen;
}
#content {
  overflow: hidden;
  width: 73%;
  float: left;
  margin-left: 1%;
  @media @phone {
    width: 98%;
    margin: 1%;
  }
}
article {
  height: 85vh;

  /** hide scroll bar **/
  overflow-y: scroll;
  margin-right: -17px;

  /** show scroll bar at mobile **/
  @media @phone {
    margin-right: 0px;
  }
}

aside {
  /** hide web menu at mobile **/
  #webMenu {
    @media @phone {
      display: none;
    }
    background-color: @menuBG;
    min-height: 50vh;
    width: 25%;
    float: right;
    nav {
      .tab {
        float: left;
        padding: @webPadding;
        font-size: @webPadding * 0.75;
        text-align: center;
        color: @notSelected;
        cursor: pointer;
      }
    }
    .selected {
      color: @selected !important;
      .border(0,0,0);
    }
  }

  /** mobile menu **/
  #mobileMenu {
    @media @desktop {
      display: none;
    }
    width: 12vw;
    float: right;

    nav {
      .tab {
        padding: @webPadding;
        margin: @webPadding;
        font-size: @webPadding * 2;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  }
#menuContent {
  overflow-y: scroll;
  height: 70vh;
  padding: @webPadding;
  clear: both;
  a {
    color: #000;
  }
}
.responsiveImage {
  width: 100%;
  height: auto;
}

.hiddenContent {
  display: none;
}
.showContent {
  display: block;
}
#mobileSlider {
  .screen;
  display: none;
    float: right;
}
#webSlider {
  .screen;
  @media @phone {
    float: left;
  }
}
.mobileContent {
  .screen;
}
#wrapper {
  position: relative;
  width: 100%;
}