/** media queries setup **/
/** web functions **/
/** global web variables **/
.screen {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 94vh;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .screen {
    width: 94vw;
    margin: 2vw;
    height: auto;
  }
}
/** buttons global colors **/
/** icons setup **/
@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot');
  src: url('font/fontello.eot') format('embedded-opentype'), url('font/fontello.ttf') format('truetype'), url('font/fontello.woff') format('woff'), url('font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  /** mobile icons **/
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5vw;
  margin: 0.25vw;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .icon {
    font-size: 5vw;
    margin: 3vw;
  }
}
.stopScrolling {
  max-width: 100% !important;
  overflow-x: hidden;
}
body {
  margin: 0px;
  font-family: Tahoma;
  text-align: justify;
}
figure {
  margin: 0;
}
header {
  padding: 1vw;
  border-left: 0px #000 solid;
  border-right: 0px #000 solid;
  border-top: 0px #000 solid;
  border-bottom: 1px #000 solid;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  header {
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}
header button {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 1vw;
  width: 10vw;
  border-left: 1px #000 solid;
  border-right: 1px #000 solid;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  header button {
    width: 15vw;
  }
}
#container {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 94vh;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  #container {
    width: 94vw;
    margin: 2vw;
    height: auto;
  }
}
#content {
  overflow: hidden;
  width: 73%;
  float: left;
  margin-left: 1%;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  #content {
    width: 98%;
    margin: 1%;
  }
}
article {
  height: 85vh;
  /** hide scroll bar **/
  overflow-y: scroll;
  margin-right: -17px;
  /** show scroll bar at mobile **/
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  article {
    margin-right: 0px;
  }
}
aside {
  /** hide web menu at mobile **/
  /** mobile menu **/
}
aside #webMenu {
  background-color: #FAFAFA;
  min-height: 50vh;
  width: 25%;
  float: right;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  aside #webMenu {
    display: none;
  }
}
aside #webMenu nav .tab {
  float: left;
  padding: 1vw;
  font-size: 0.75vw;
  text-align: center;
  color: #CFBDAF;
  cursor: pointer;
}
aside #webMenu .selected {
  color: #000 !important;
  border-left: 0 #000 solid;
  border-right: 0 #000 solid;
  border-top: 0 #000 solid;
  border-bottom: 1px #000 solid;
}
aside #mobileMenu {
  width: 12vw;
  float: right;
}
@media only screen and (min-width: 960px) {
  aside #mobileMenu {
    display: none;
  }
}
aside #mobileMenu nav .tab {
  padding: 1vw;
  margin: 1vw;
  font-size: 2vw;
  text-align: center;
  cursor: pointer;
}
#menuContent {
  overflow-y: scroll;
  height: 70vh;
  padding: 1vw;
  clear: both;
}
#menuContent a {
  color: #000;
}
.responsiveImage {
  width: 100%;
  height: auto;
}
.hiddenContent {
  display: none;
}
.showContent {
  display: block;
}
#mobileSlider {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 94vh;
  display: none;
  float: right;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  #mobileSlider {
    width: 94vw;
    margin: 2vw;
    height: auto;
  }
}
#webSlider {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 94vh;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  #webSlider {
    width: 94vw;
    margin: 2vw;
    height: auto;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  #webSlider {
    float: left;
  }
}
.mobileContent {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  height: 94vh;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .mobileContent {
    width: 94vw;
    margin: 2vw;
    height: auto;
  }
}
#wrapper {
  position: relative;
  width: 100%;
}
